<div class="fruits">
<label for="">
Add a fruit to list, here!
<Input @value={{this.textValue}} placeholder={{@whatever}}/>
</label>
<button type="button" {{action 'add' this.textValue}}>Add</button>
<br>
{{#each this.arrayOfFruit as |fruit|}}
  fruit: {{fruit}}<br/>
{{/each}}
</div>